@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body{
	margin: 0px;
	padding: 0px;
	background-color: black;
}
}
.bg-container{
	width: 100%;
	min-height: 100vh;
	background-image: url(../imagenes/ZOÉ.png); 
	background-position:center;
	background-size: cover;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size:15px;
}
.logo-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo-bg{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo-title{
		font-family: 'Oswald', sans-serif;
		padding: center;
		color: black;
}
.logo{
	display:;
}
.form{
	width: 54%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-container{
	min-height: 50vh;
}
.form-container{
	color:  #b4b4B4;
}
.input-container{
	display: flex;
	flex-direction: column; 
	margin-top: 1em;
}
.input-container label{
	color: #c4c4c4;
	font-size:20px;
	margin-bottom:1em;
	align-items: center;
}
.input-container input{
	height: 20px;
	width: 250px;
	margin-bottom:1em;
}
.input-container input focus{
	border: 0px;
	outline: 0px;
}
.login-btn{
	width: 100%;
	background-color: white;
	font-size:18px;
	border:0px;
	color: black
}
.link{
	margin-top: 3em;
	color: white;
}

@media screen and (min-width:720px) and (orientation:landscape)
{
		.main-conteiner{
		}
		.bg-container{
			display: flex;
			flex-direction: row;
			width: 100%;
		}
		.logo-container{
			background-image: url("../imagenes/ZOÉ.png");
			background-position: center;
			background-size: cover;
			width: 100%;
			height: 100vh;
		}
		.logo-container img{
			margin-top: 5em;
		}
		.logo-bg{
			width: 100%;
			height: 100%;
		}
		.logo-title{
			font-size: 3em;
		}
		.form-container{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: black;
			padding-top: 3em;
			padding-bottom: 3em;
		}
		.sesion-title{
			display: block;
		}
}